$colorBg: #fefefe;
$colorBlue: #093c5e;
$colorAqua: #23c9cf;
$colorGrey: #dfe2e8;
$colorDarkBlue: #3f4b5c;
$colorRed: #fa4616;

.login, .main {
  min-height: 100vh;
}

.login-text {
  text-align: center;
  font-size: 33px;
}

.main {
  max-width: 1900px;
  margin: 0 auto;
  .left-panel {
    background: $colorDarkBlue;
    height: inherit;
    color: white;
    svg {
      color: #ffffff;
    }
  }
  .select-price {
    border: 1px solid $colorGrey;
    .influencer-type {
      font-size: 20px;
    }
    .MuiInputBase-input {
      text-align: right;
    }
  }
  .dashboard {
    .see-all-button {
      .MuiButton-root {
        padding: 2px 16px;
        margin-top: 10px;
        background: $colorGrey;
      }
    }
  }
  .category-label {
    margin: 0 0 10px;
    font-size: 1.1em;
    font-weight: bold;
  }
  .request {
    .data-form {
      margin: 50px auto;
      width: 800px;
      padding: 50px;
      border: 1px solid #dfe2e8;
      .label-holder {
        label {
          font-size: 15px;
          line-height: 1.33;
          color: #3f4653;
        }
      }
    }
    .request-detail {
      .text-holder {
        ul {
          padding-left: 20px;
        }
      }
    }
    .request-create {
      .text-right {
        input {
          text-align: right;
        }
      }
      .checkbox-label {
        color: #757575;
        box-sizing: border-box;
        border: 1px solid #c3c3c3;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        padding: 18px;
        position: relative;
        cursor: pointer;
        input[type=checkbox] {
          display: none;
          &:checked + svg {
            fill: red;
          }
        }
        span {
          position: relative;
          bottom: 4px;
          left: 10px;
        }
        svg {
          position: relative;
          top: 2px;
          left: 5px;
        }
        &.red {
          border: 2px solid $colorRed;
        }
      }
      .category-cards {
        .category-item {
          input[type=checkbox] {
            display: none;
            &:checked + .category-name {
              border: 2px solid $colorRed;
            }
          }
          .category-name {
            box-sizing: border-box;
            font-size: 15px;
            font-weight: 400;
            color: #222;
            padding: 15px;
            height: 76px;
            border: 1px solid #d0d0d0;
            .count {
              text-align: right;
              color: $colorRed;
              font-weight: 500;
            }
            &.age {
              padding: 26px 30px;
            }
            &:hover {
              cursor: pointer;
            }
            &.image {
              text-align: center;
              padding-top: 28px;
            }
            &.red {
              border: 2px solid $colorRed;
            }
          }
        }
      }
      .image-holder {
        div {
          position: relative;
          img {
            width: 100%;
            max-height: 200px;
          }
          span {
            width: 26px;
            height: 26px;
            position: absolute;
            display: inline-block;
            top: 5px;
            right: 6px;
            background-image: url("../img/photo_del.png");
            text-indent: -10000px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.navbar {
  background: $colorDarkBlue;
  .navbar-content {
    padding: 0 64px;
  }
}



